.header{
    text-align:left;
    padding:50px;
    background-color: #4168b4;
    color:white;
    height: 300px;
    justify-content: space-between;
    align-items: center;  
 
}

.header h1{
    margin:10;
    font-size:  2.5em;
}

.header p{
    margin:10px;
    padding: auto;
    font-size: 1.2em;
}

.circular-image {  
    width: 160px; /* Adjust the width of the circular image */  
    height: 180px; /* Adjust the height of the circular image */  
    border-radius: 50%; /* Makes the image circular */  
    object-fit: cover; /* Ensures the image covers the circular area */  
    margin-left:auto; /* Push the image to the right */

}  

