.skills{
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
    background-image: url(../../public/test.avif);
    height:100vh; /* Ensures the section takes up the full viewport height*/
    display:flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center; /* Horizontally centers the content */
    box-sizing: border-box; /* Ensures padding is included in the height calculation */
}

.skills h2{
    font-size: 2em;
    margin-top: 20px;
}

.skills ul{
    list-style-type: none;
    padding: 0;
}

.skills li {
    display:inline-block;
    margin:10 px;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    border-radius: 5px;
}